<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <dev>
            <jzahedieh_fileconfigurator>
                <active>1</active>
                <system_path>###MAGE_BASE###app/code/JZahedieh/FileConfigurator/data/</system_path>
            </jzahedieh_fileconfigurator>
        </dev>
    </default>
</config>
