<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="JZahedieh_FileConfigurator::jzahedieh_fileconfigurator" title="File Configurator"
             module="JZahedieh_FileConfigurator" sortOrder="20" parent="Magento_Backend::system_other_settings"
             action="adminhtml/fileconfigurator" resource="JZahedieh_FileConfigurator::jzahedieh_fileconfigurator"/>
    </menu>
</config>
